.contact-title-pane {
  border: 1px solid #e8751a;
  border-radius: 16px;
  padding: 16px;
  margin: 0 2rem;
  text-align: left;
}

.contact-pane {
  border: 1px solid #e8751a;
  border-radius: 16px;
  padding: 16px;
  margin: 0 2rem;
  text-align: left;
}
