.myinfo-image {
  img {
    width: 200px;
    height: 200px;
    border: 0.25rem groove black;
    border-radius: 16px;
    margin: 10px auto;
  }
}

.myinfo-pane {
  border: 1px solid #e2bfb3;
  border-radius: 16px;
  padding: 16px;
  margin: 0 2rem;
  text-align: left;
}

.myhistory-pane {
  border: 1px solid #e2bfb3;
  border-radius: 16px;
  margin: 0 2rem;

  table {
    width: 100%;
    font-family: "Nanum Gothic", sans-serif;
    border-collapse: collapse;
  }
  table td,
  table th {
    border-left: 1px solid rgba(97, 97, 97, 0.2);
    border-right: 1px solid rgba(97, 97, 97, 0.2);
    padding: 0.1rem;
    text-align: center;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

  table p.company {
    color: #e2bfb3;
  }

  table p.subtext {
    font-size: 10pt;
  }
}

/* .custom-button {
  background-color: black;
}

.custom-button:hover {
  background-color: #35374B;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
} */
