.project-pane {
  border: 1px solid #e2bfb3;
  border-radius: 16px;
  padding: 16px;
  margin: 0 2rem;
}

.project-card-pane {
  border: 2px groove #e2bfb3;
  border-radius: 16px;
  padding: 12px;
  background-color: whitesmoke;
  text-align: left;
  font-size: 9pt;
}

.project-card-image {
  /* padding: 8px; */
  figure {
    width: 100%;
  }
  figcaption {
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  img {
    width: 100%;
    max-height: 700px;
    border: 0.25rem groove black;
    border-radius: 4px;
    margin: 0 auto;
    object-fit: cover;
    box-sizing: border-box;
  }
}
