@import "./Reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "S-CoreDream-3Light", sans-serif; */
  font-family: "Pretendard-Regular", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 8px;
}

/* .site-title {
  padding: 8px;
} */

.navigation ul li {
  display: inline-block;
  margin: 0 8px;
}

.navigation ul li a {
  text-decoration: none;
  color: #ffbe98;
  font-family: "SBAggroB", sans-serif;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: #e2bfb3;
}

.site-footer {
  padding: 8px;
}

/* .slideShow {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slideWrapper {
  width: calc(100vw * 4);
  animation: slide 40s ease infinite;
} */

.contents-container {
  height: calc(auto * 4);
}

section {
  width: 100vw;
  min-height: 400px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section:nth-child(1) {
  background-image: linear-gradient(0deg, #ffffffc2, #fff),
    url("https://images.pexels.com/photos/6373293/pexels-photo-6373293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  height: 100vh;
}

.welcome-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section:nth-child(2) {
}

section:nth-child(3) {
}

section:nth-child(4) {
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -100vw;
  }
  50% {
    margin-left: -100vw;
  }
  60% {
    margin-left: calc(-100vw * 2);
  }
  70% {
    margin-left: calc(-100vw * 2);
  }
  80% {
    margin-left: calc(-100vw * 3);
  }
  90% {
    margin-left: calc(-100vw * 3);
  }
}

.divider {
  width: 0;
  border: 2px solid #e2bfb3;
  /* animation: separator-width 5s ease-out infinite forwards; */
  animation: separator-width 5s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.section-container {
  text-align: center;
  align-items: center;
  padding: 8px 0;
}
